{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
{% if blog.id == 45728464961 %}
  <div class="custom-fields-wrapper">
  </div>
{% endif %}
{% if blog.id == 32083607652 %}
  <div class="custom-fields-wrapper">
    {% include 'custom_fields.articles.recipe_by' %}
    {% include 'custom_fields.articles.photo_credit' %}
    {% include 'custom_fields.articles.serves' %}
    {% include 'custom_fields.articles.recipe_introduction' %}
    {% include 'custom_fields.articles.methods' %}
  </div>
{% endif %}