{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/diaspora-co-spices.myshopify.com/products/configure/134626/edit
{% endcomment %}
{% if product.metafields.custom_fields["product_description_image"] != blank %}
  <div class="custom-field custom-field__product-description-image custom-field__type--image">
    <h3 class="custom-field--title">Product Description Image</h3>
    <div class="custom-field--value">  
      {% include 'cf-image' with image: product.metafields.custom_fields["product_description_image"] %}
    </div>
  </div>
{% endif %}