{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/diaspora-co-spices.myshopify.com/products/configure/134621/edit
{% endcomment %}
{% if product.metafields.custom_fields["seed_licensing"] != blank %}
  <div class="custom-field custom-field__seed-licensing custom-field__type--text">
    <h3 class="custom-field--title">Seed Licensing</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["seed_licensing"] }}
    </div>
  </div>
{% endif %}