{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/diaspora-co-spices.myshopify.com/products/configure/134610/edit
{% endcomment %}
{% if product.metafields.custom_fields["product_quote"] != blank %}
  <div class="custom-field custom-field__product-quote custom-field__type--html">
    <h3 class="custom-field--title">Product Quote</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["product_quote"] }}
    </div>
  </div>
{% endif %}