{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/diaspora-co-spices.myshopify.com/products/configure/82536/edit
{% endcomment %}
{% if product.metafields.custom_fields["row_2_column_2"] != blank %}
  <div class="custom-field custom-field__row-2-column-2 custom-field__type--html">
    <h3 class="custom-field--title">Row 2 Column 2</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["row_2_column_2"] }}
    </div>
  </div>
{% endif %}