{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.products.left_column' %}
  {% include 'custom_fields.products.center_column' %}
  {% include 'custom_fields.products.right_column' %}
  {% include 'custom_fields.products.row_2_column_1' %}
  {% include 'custom_fields.products.row_2_column_2' %}
  {% include 'custom_fields.products.row_2_column_3' %}
</div>