<div class="chart-header">
<h2> Size Guide </h2>
<div>Not sure what size you need or how long it’ll last you? Our spice size guide can help!</div>
</div>
<div class="chart-table">
{{ product.metafields.custom_fields["size_guide"] }}
</div>
{% comment %}
  <div class="spice__row">
   <div class="spice_name">
     <img src="">
     <span><strong></strong></span>
   </div>
    <div class="spice_cell">
      <img src="">
      <span><strong></strong></span>
     </div>
     <div class="spice_cell">
       <img src="">
       <span><strong></strong></span>
    </div>
    <div class="spice_cell">
      <img src="">
      <span><strong></strong></span>
   </div>
  </div>
  <div class="spice__row">
   <div class="spice_name">
     <img src="">
     <span><strong></strong></span>
   </div>
    <div class="spice_cell">
      <img src="">
      <span><strong></strong></span>
     </div>
     <div class="spice_cell">
       <img src="">
       <span><strong></strong></span>
    </div>
    <div class="spice_cell">
      <img src="">
      <span><strong></strong></span>
   </div>
  </div>

{% endcomment %}
