<style>
  .featured-products .grid__item {
    padding-right: 30px;
  }
</style>
{% assign hover_class = section.settings.collection_style %}
{% assign fit_image_class = 'grid__item--variable-height grid__image' %}
{% comment %}
{% case section.settings.featured_products_per_row %}
  {% when "1" %}
    {% assign grid_item_width = "large--one-whole medium--one-whole" %}
  {% when "2" %}
    {% assign grid_item_width = "large--one-half medium--one-half" %}
  {% when "3" %}
    {% assign grid_item_width = "large--one-third medium--one-half" %}
  {% when "4" %}
    {% assign grid_item_width = "large--one-quarter medium--one-half" %}
  {% when "5" %}
    {% assign grid_item_width = "large--one-fifth medium--one-third" %}
{% endcase %}
{% endcomment %}
{% assign collection = collections[section.settings.collection] | default: false %}

{% assign limit = section.settings.featured_products_per_row | times: section.settings.featured_rows %}

{% if section.settings.collection_title %}
  <h2 class="featured-title">
    {{ collection.title }}
  </h2>
{% endif %}

{% if collection and collection.products_count > 0 %}
  <!-- <div class="grid--products grid--full grid--featured-products {% if section.settings.marigold == true %} show-marigold {% endif %} image-gutters--{{ settings.image_gutter }} "> -->
  <div class="{% if section.settings.marigold == true %} show-marigold {% endif %} slick-slider">
    {% for product in collection.products %}
{%- comment -%} Wholesale Gorilla: do not delete unless app is uninstalled{%- endcomment -%}
{%- assign wsgTempProd = product -%}{%- assign wsgExclude = false -%}{%- if forloop.first == true -%}{%- assign wsgActive = false -%}{%- assign wsgActiveCustomer = false -%}
{%- include 'wsg-status' wsgStatusAction: 'init' | strip -%}{%- endif -%}{%- if wsgActive -%}{%- include 'wsg-status' wsgStatusAction: 'col-item' | strip -%}{%- endif -%}{%- if wsgExclude -%} {%- continue -%} {%- endif -%}
{%- comment -%} end WSG {%- endcomment -%}
{% include 'wh_calculate_discount' with product, hide_method: 'skip' %}
      {% include 'product-grid-item' %}
    {% endfor %}
  </div>
{% else %}
  {% unless emptyState %}
    {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
    {% assign emptyState = true %}
  {% endunless %}

  <div class="grid--full grid--featured-products">
    {% include 'onboarding-featured-products' %}
  </div>
{% endif %}

<script>
$(document).ready(function(){
    $('.slick-slider').slick({
      slidesToShow: 1,
      infinite: true,
      arrows: true,
      slidesToScroll: 1,
      autoplay: true,
      speed: 300,
      mobileFirst:true,
      responsive: [{
        breakpoint: 767,
        settings: {
          slidesToShow: 4,
          autoplay: false
        }
      }]
    });
});
</script>

{% schema %}
  {
    "name": "Featured collection",
    "class": "featured-products",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      },
      {
        "type": "checkbox",
        "id": "collection_title",
        "label": "Show collection title"
      },
  	  {
        "type": "checkbox",
        "id": "marigold",
        "label": "Show rotating marigold"
      },
      {
        "type": "select",
        "id": "collection_style",
        "label": "Product title \/ price style",
        "options": [
          {
            "value": "grid__image--hover",
            "label": "Display title\/price on hover"
          },
          {
            "value": "grid__image--caption",
            "label": "Always display title\/price"
          }
        ],
        "default": "grid__image--caption"
      },
      {
        "type": "select",
        "id": "featured_products_per_row",
        "label": "Products per row",
        "options": [
          {
            "value": "1",
            "label": "One"
          },
          {
            "value": "2",
            "label": "Two"
          },
          {
            "value": "3",
            "label": "Three"
          },
          {
            "value": "4",
            "label": "Four"
          },
          {
            "value": "5",
            "label": "Five"
          }
        ],
        "default": "3"
      },
      {
        "type": "select",
        "id": "featured_rows",
        "label": "Rows",
        "options": [
          {
            "value": "1",
            "label": "One"
          },
          {
            "value": "2",
            "label": "Two"
          },
          {
            "value": "3",
            "label": "Three"
          }
        ],
        "default": "2"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
