<div class="parallax-container js-transparent-header-fadein js-after-primary-carousel">
  {% section 'collection-featured-product' %}
  {% section 'all-collection' %}
  {% section 'collab-slider' %}
</div>
