<div class="grid--full wrapper wholesale-form">
  <h1> Wholesale Signup </h1>

  <p> Interested in our wholesale program? Glad you asked! Just click "sign up" below to shoot us an introductory email. Don't worry, it's pre-populated with prompts to help you provide everything we need to know to get started.</p>

  <a class="btn" href="mailto:wholesale@diasporaco.com?subject=Lets%20talk%20wholesale&body=Hi%20Diaspora!%0d%0dI'm%20 reaching%20out%20about%20your%20wholesale%20program.%20Here%20are%20my%20details:%0d%0d1.%20Company:%20%0d%0d2.%20Link%20to%20my%20website%20and/or%20Instagram:%20%0d%0d3.%20Type%20of%20business:%20(Food%20service/restaurant/cafe,%20CPG%20business,%20retail%20store,%20other)%0d%0d4.%20Mailing%20address%20(location%20of%20store):%20%0d%0d5.%20Quantities%20and%20spices%20I'm%20interested%20in:%20%0d%0d6.%20Why%20Diaspora%20spices%20are%20a%20good%20fit:%20%0d%0d%0d%0dI'm%20excited%20to%20get%20in%20touch%20and%20explore%20your%20wholesale%20options!%20Thanks%20so%20much.%0d%0d" rel="EMAIL">Sign Up</a>


  </div>
